mmlc-api:
  build: .
  ports: 
    - "1337:1337"
    - "9999:9999"
  net: "host"
mmlc-redis:
  image: redis:2.8.21
  ports: 
    - "6379:6379"
mmlc-mongo:
  image: mongo:2.6.11
  ports: 
    - "27017:27017"
