<h1>Equations</h1>
<% if (typeof equations != 'undefined' && equations.length > 0) { 
    var limit = 10;
    var pages = Math.ceil(equations.length/10);
    var currentPage = 1;
    var next = 1 + limit; 
    var back = 1 - limit;
%>
<% if (equations.length > 10) { %>
    <nav>
      <ul class="pagination">
        <% for (var i = 1; i <= pages; i++) { 
            var skip = (i-1)*limit; 
            var active = i == currentPage; %>
            <li <%= active ? "class=active" : "" %>><a href="#/uploads/<%=skip%>" class="page" data-type="html5"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
<% } %>
    
    <table class="table table-striped" id="resultsTable">
    <thead>
        <tr>
            <th class="info">Equation ID</th>
            <th class="info">Input Math Type</th>
            <th class="info">Input Math</th>
            <th class="info">Output</th>
            <th class="info">Text Description</th>
            <th class="info">Send Feedback</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(equations, function(equation) { %>
        <tr>
            <td><a href="#/equation/<%=equation.get("id")%>"><%=equation.get("id")%></td>
            <td><%= equation.get("mathType") %></td>
            <td><%= equation.get("math") %></td>
            <td>
                <% if (typeof(equation.get("components"))  != "undefined" && equation.get("components").length > 0) { 
                    var notDescription = equation.get("components").reject(function(component){ return component.get("format") == "description"; }); %>
                    <%= notDescription.length > 0 ? notDescription[0].get("source") : "" %>
            <%    } %>
            </td>
            <td>
                <% var description = equation.get("components").findWhere({format: "description"}); %>
                    <%= typeof(description) != "undefined" ? description.get("source") : "" %></td>
            <td><a href="/equation/<%= equation.get("id") %>" data-toggle="modal" data-target="mmlcModal" data-model="<%= equation.get("id") %>" class="feedback"><span class="glyphicon glyphicon-comment" aria-hidden="true" title="Submit Feedback"></span></a></td>
        </tr>
    <% }); %>
    </tbody>
    </table>
<% } else { %>
<p>No equations.</p> 
<% } %>

