<h1><a href="#/equation/<%= equation.get("id") %>">Equation</a></h1>
<form class="form-horizontal">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="equationMath" class="control-label col-sm-3"><%= equation.get("mathType") %>:</label>
            <div class="col-sm-9"><textarea id="equationMath" class="form-control"><%= equation.get("math") %></textarea></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <img src="images/load.gif" style="display: none;" class="spinner" alt="Please wait while we process your equation(s)"/>
            <button type="submit" class="btn btn-primary updateEquation">Update</button>
            <a href="#/"><button type="button" class="btn btn-primary">Start Over</button></a>
        </div>
    </div>
</form>
<div class="clearfix"></div>
<div id="components">
</div>
<h2>Feedback</h2>
<div class="panel panel-default">
    <div class="panel-heading"><h3>Comments</h3></div>
    <div class="panel-body" id="comments">
        <form action="/feedback/create" method="post" class="commentsForm">
            <input type="hidden" name="equation" id="equation" value="<%= equation.get("id") %>"/>
            <p>Please review the latest renderings of your equation (above) before submitting feedback comments.</p>
            <fieldset>
                <legend>Comments For:</legend>
                <% _.each(equation.get("components").models, function(component) { %>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="components" value="<%= component.get("id") %>" /><%= component.get("format") %>
                    </label>
                <% }); %>
            </fieldset><br />
            <label for="equationComments">Comments:</label>
            <textarea id="equationComments" name="comments" class="form-control"></textarea>
            <br />  
            <button class="btn btn-lg btn-primary" id="feedback" type="submit">Submit Feedback</button>
            <p id="commentsMessaging" class="success"></p>
        </form>
    </div>
</div>
<% if (typeof(equation.get("html5")) != "undefined" && typeof(equation.get("html5").output) != "undefined") { 
    var preview = equation.get("html5").output.split("<body")[1].split(">").slice(1).join(">").split("</body>")[0];
%>
    <div id="preview" style="display: none;">
        <%= preview %>
    </div>
<% } %>
