<h1>Equations</h1>
<% if (typeof equations != 'undefined' && equations.length > 0) { 
    var limit = 10;
    var pages = Math.ceil(equations.length/10);
    var currentPage = 1;
    var next = 1 + limit; 
    var back = 1 - limit;
%>
<% if (equations.length > 10) { %>
    <nav>
      <ul class="pagination">
        <% for (var i = 1; i <= pages; i++) { 
            var skip = (i-1)*limit; 
            var active = i == currentPage; %>
            <li <%= active ? "class=active" : "" %>><a href="#/uploads/<%=skip%>" class="page" data-type="html5"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
<% } %>
    
    <table class="table table-striped table-bordered" id="resultsTable">
    <thead>
        <tr>
            <th>Equation ID</th>
            <th>Input Math Type</th>
            <th>Input Math</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(equations, function(equation) { %>
        <tr>
            <td><a href="/equation/<%= equation.get("id") %>" data-toggle="modal" data-target="mmlcModal" data-model="<%= equation.get("id") %>" class="feedback">Submit Feedback</a></td>
            <td><%= equation.get("mathType") %></td>
            <td><%= equation.get("math") %></td>
            <td><%= typeof(equation.get("components"))  != "undefined" && equation.get("components").length > 0 ? equation.get("components")[0].source : "" %></td>
        </tr>
    <% }); %>
    </tbody>
    </table>
<% } else { %>
<p>No equations.</p> 
<% } %>

