<% if (typeof equations != 'undefined' && equations.length > 0) { %>
    <table class="table table-striped" id="resultsTable">
    <thead>
        <tr>
            <th class="info">Equation ID</th>
            <% if (typeof($("#isAdmin")) != "undefined" && $("#isAdmin").val() == "true") { %>
                <th class="info">Submitted By</th>
            <% } %>
            <th class="info">Input Math Type</th>
            <th class="info">Output</th>
            <th class="info">Text Description</th>
            <th class="info">Submit Feedback</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(equations, function(equation) { %>
        <tr>
            <td><a href="#/equation/<%=equation.get("id")%>"><%=equation.get("id")%></td>
            <% if (typeof($("#isAdmin")) != "undefined" && $("#isAdmin").val() == "true") { %>
                <td>
                    <% if (typeof(equation.get("submittedBy")) != "undefined") { %>
                        <%= equation.get("submittedBy").username %>
                    <% } %>
                </td>
            <% } %>
            <td><%= equation.get("mathType") %></td>
            <td>
                <% if (typeof(equation.get("components"))  != "undefined" && equation.get("components").length > 0) { 
                    var notDescription = equation.get("components").reject(function(component){ return component.get("format") == "description"; }); %>
                    <%= notDescription.length > 0 ? notDescription[0].get("source") : "" %>
            <%    } %>
            </td>
            <td>
                <% var description = equation.get("components").findWhere({format: "description"}); %>
                    <%= typeof(description) != "undefined" ? description.get("source") : "" %></td>
            <td><a href="/equation/<%= equation.get("id") %>" data-toggle="modal" data-target="mmlcModal" data-model="<%= equation.get("id") %>" class="feedback"><span class="glyphicon glyphicon-comment" aria-hidden="true" title="Submit Feedback"></span></a></td>
        </tr>
    <% }); %>
    </tbody>
    </table>
<% } else { %>
<p>No equations.</p> 
<% } %>

