<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1 class="title">MathML Cloud</h1>
<body>
<center>
<span id="mathform">
<%- mathml %> 
</span>
</center>
<div>
<b>Alternative Description:</b><br>
<%= alttext %>
</div>
<br>
<a href="<%= jsonurl %>">json</a>
</body>
</html>
