
<h1>MathML Cloud</h1>
<div>
<form id="mml-editor" class="form-horizontal">
	<div class="form-group">
		<label for="mml-input" class="col-sm-2 control-label">Math</label>
		<div class="col-sm-10">
			<textarea id="mml-input" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="mathType" class="col-sm-2 control-label">Math Type</label>
		<div class="col-sm-10">
			<select id="mathType" name="mathType" class="form-control">
				<option value="AsciiMath">Ascii Math</option>
				<option value="MathML">MathML</option>
				<option value="TeX">LaTeX</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<input type="submit" id="go" value="go" class="btn btn-primary pull-right"/>
	</div>
</form>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h2>Visual output</h2></div>
	<div class="panel-body" id="output-visual">Enter some ascii math, TeX or MathML above.</div>
</div>
<div id="processing">
	<img src="/images/load.gif" alt="Please wait" />
</div>
<div id="results">
	<h2>Formats</h2>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>MathML in the Cloud URL</h3></div>
		<div class="panel-body" id="output-url"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Png Image </h3></div>
		<div class="panel-body">
			<img id="output-pngImage" name="empty" />
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Text Description</h3></div>
		<div class="panel-body" id="output-text"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>MathML Markup</h3></div>
		<div class="panel-body"><pre><code id="output-mathml"></code></pre></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>SVG Output</h3></div>
		<div class="panel-body" id="output-svg"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>SVG Markup</h3></div>
		<div class="panel-body" id="output-svg-markup"></div>
	</div>
</div>
