
<h1><label for="mml-input">Enter ASCII Math below</label></h1>
<form id="mml-editor">
	<textarea id="mml-input"></textarea>
	<br/>
	<input type="submit" id="go" value="go"/>
</form>

<h2 id="svgImage"> Svg Image </h2>
<canvas id="output-svgImage" width="100" height="100"></canvas>
<h2 id="pngImage"> Png Image </h2>
<img id="output-pngImage" name="empty" />
<h2>MathML in the Cloud URL</h2>
<div class="output" id="output-url"></div>
<h2>Text Description</h2>
<div class="output" id="output-text"></div>
<h2>Visual output</h2>
<div class="output" id="output-visual"></div>
<h2>MathML Markup</h2>
<div class="output"><pre><code id="output-mathml"></code></pre></div>
<h2 class="svgOutput">SVG Output</h2>
<div class="output svgOutput" id="output-svg"></div>
<h2 class="svgOutput">SVG Markup</h2>
<div class="output svgOutput" id="output-svg-markup"></div>
