
<h1><label for="mml-input">Enter ASCII Math below</label></h1>
<form id="mml-editor">
        Type <select id="mml-type">
        <option value="latex">Latex</option>
        <option value="mathml">MathML</option>
	</select> 
	<br/><br/>
	Query <textarea id="mml-input"></textarea>
	<br/><br/>
	<input type="submit" id="go" value="go"/>
</form>
<h2 id="pngImage"> Png Image </h2>
<img id="output-pngImage" name="empty" />
<h2>MathML in the Cloud URL</h2>
<div class="output" id="output-url"></div>
<h2>Text Description</h2>
<div class="output" id="output-text"></div>
<div id="output-visual"></div>
<h2>MathML Markup</h2>
<div class="output"><pre><code id="output-mathml"></code></pre></div>
<h2 class="svgOutput">SVG Output</h2>
<div class="output svgOutput" id="output-svg"></div>
<h2 class="svgOutput">SVG Markup</h2>
<div class="output svgOutput" id="output-svg-markup"></div>
