body {
	font-family: Tahoma, sans-serif;
}

textarea {
	width: 40em;
}

div.output {
	border: 1px solid black;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

input#go {
	border: 1px solid black;
	background-color: #FF9933;
	font-weight: bold;
}