<div id="about">
<h1>About MathML Cloud</h1>
<h2>Project Origins</h2>

To read about the background of MathML Cloud, please <a href="http://benetech.org/our-programs/literacy/born-accessible/mathml-cloud/">visit the Benetech site</a>.

<h2>Integration</h2>

Benetech provides three usage and adoption models:
<ol>
<li>Use Benetech's app - test the tool and process small, one-off requests, at https://mathmlcloud.org.</li>
<li>Interact directly via an API - visit Azure and setup calls to the Benetech-hosted instance of MathMLCloud, at https://mathmlcloud.portal.azure-api.net.</li>
<li>Host your own version of the tool - visit Github to get the code and host the tool on your own, private server, at http://github.com/benetech/mmlc-experiments.</li>
</ol>

<h2>Release Notes</h2>

Future release notes will be provided as they become available. 

<h2>Contact Us</h2>

If you have any questions about the MathML Cloud project, or the system, please contact <a href="mailto:admin@mathmlcloud.org">admin@mathmlcloud.org</a>.
</div>
