<div id="equation-form">
    <h1>Welcome to MathML Cloud!</h1>
    <div id="homePageWelcome" <% if (typeof(user) != "undefined") { %>style="display: none;"<% } %>>
        <p>
            This tool is powered by <a href="http://benetech.org" target="_blank">Benetech.</a> To learn more about this project, visit <a href="#/about">About MMLC.</a>
        </p>
        <p>
            If you are new to MathMLCloud, we also encourage you to <a href="/user/login" class="register">register for an account</a> so that you can access your user activity logs and learn about key project updates as they arise. 
        </p>
    </div>
    <form method="post" action="/#" class="form spacer mml-editor">
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <input type="radio" name="conversionType" id="singleEquation" value="singleEquation" checked>
                Convert a Single Equation Using:
            </label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="mathType" value="AsciiMath" class="radio-inline radio singleEquation" checked> Ascii Math</label>
                <label class="radio-inline"><input type="radio" name="mathType" value="MathML" class="radio-inline radio singleEquation"> MathML</label>
                <label class="radio-inline"><input type="radio" name="mathType" value="TeX" class="radio-inline radio singleEquation"> LaTeX</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="mml-input"><span class="sr-only">Equation</span></label>
            <div class="col-sm-9">
                <textarea id="mml-input" name="math" class="form-control singleEquation" placeholder="Enter Equation"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <input type="radio" name="conversionType" id="multipleEquations" value="multipleEquations">
                Convert Multiple Equations To:
            </label>
            <div class="col-sm-3">
                <label class="radio-inline">
                  <input type="radio" name="outputFormat" value="svg" class="multipleEquations" checked disabled>SVG
                </label>
                <label class="radio-inline">
                  <input type="radio" name="outputFormat" value="mml" class="multipleEquations" disabled>MathML
                </label>
                <label class="radio-inline">
                  <input type="radio" name="outputFormat" value="png" class="multipleEquations" disabled>PNG
                </label>
            </div>
        </div>
        <div class="form-group-row">
            <label class="col-sm-3 control-label" for="mml-input"><span class="sr-only">Html5 File</span></label>
            <input type="file" id="html5" name="html5" class="multipleEquations" disabled accept="text/html"/>
        </div>
        <div class="form-group">
            <input type="submit" id="go" value="Process" class="btn btn-primary pull-right"/>
            <img src="images/load.gif" style="display: none;" class="spinner pull-right" alt="Please wait while we process your equation(s)"/>
        </div>
        <p class="text-danger pull-right errorMessage"></p>
    </form>
</div>
<div class="clearfix"></div>
<div id="results">
</div>