<div id="equation-form">
    <h1>Conversion Form</h1>
    <form id="mml-editor" method="post" action="/equation/svg" class="form-horizontal form">
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <input type="radio" name="conversionType" id="singleEquation" value="singleEquation" checked>
                Convert a Single Equation Using:
            </label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="mathType" value="AsciiMath" class="radio-inline radio singleEquation" checked> Ascii Math</label>
                <label class="radio-inline"><input type="radio" name="mathType" value="MathML" class="radio-inline radio singleEquation"> MathML</label>
                <label class="radio-inline"><input type="radio" name="mathType" value="TeX" class="radio-inline radio singleEquation"> LaTeX</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="mml-input"><span class="sr-only">Equation</span></label>
            <div class="col-sm-9">
                <textarea id="mml-input" name="math" class="form-control singleEquation"></textarea>
            </div>
        </div>
        <div class="form-group row" id="outputOptions">
            <span class="col-sm-3 control-label"><strong>Component Formats:</strong></span>
            <div class="col-sm-9">
                <label class="checkbox-inline">
                  <input type="checkbox" id="svg" name="svg" value="true" checked class="singleEquation">SVG
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="mml" name="mml" value="mathml" class="singleEquation" checked>MathML
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="png" name="png" value="true" class="singleEquation" checked>PNG Image
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="description" name="description" value="true" class="singleEquation" checked>Text Description
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <input type="radio" name="conversionType" id="multipleEquations" value="multipleEquations">
                Convert Multiple Equations:
            </label>
            <div class="col-sm-9">
                <label for="html5" class="sr-only">HTML5 File</label>
                <input type="file" id="html5" name="html5" class="multipleEquations" disabled/>
            </div>
        </div>
        <fieldset>
        <div class="form-group">
            <legend class="col-sm-3 control-label">Replace Equations With:</legend>
            <div class="col-sm-9">
                <label class="radio-inline">
                  <input type="radio" name="outputFormat" value="svg" class="multipleEquations" checked disabled>SVG
                </label>
                <label class="radio-inline">
                  <input type="radio" name="outputFormat" value="mml" class="multipleEquations" disabled>MathML
                </label>
                <label class="radio-inline">
                  <input type="radio" name="outputFormat" value="png" class="multipleEquations" disabled>PNG
                </label>
            </div>
        </div>
        </fieldset>
        <div class="form-group">
            <input type="submit" id="go" value="Convert" class="btn btn-primary pull-right"/>
        </div>
        <p class="text-danger pull-right errorMessage"></p>
    </form>
</div>
<div class="clearfix"></div>
<div id="results">
</div>