<ul class="nav navbar-nav navbar-right">
    <li class="public"><a href="#/about" class="pageLink">About MathML Cloud</a></li>   
    <li class="user-tabs"><a href="#/equations" class="pageLink">My Equations</a></li>
    <li class="user-tabs"><a href="#/uploads" class="pageLink">My File Uploads</a></li>
    <% if (user.get("role") == "admin") { %>
        <li class="user-tabs"><a href="admin">Admin</a></li>
    <% } %>
    <li class="user-tabs"><a href="/logout" id="logout">Log Out</a></li>
</ul>
