<div class="container">
    <div class="row">
        <div class="col-sm-1"><span class="glyphicon glyphicon-warning-sign pull-left btn-lg" aria-hidden="true" title="Warning"></span></div>
        <div class="col-sm-11">
            <p>
                
                As a guest user, if you close this window, you will lose the results of the conversion being processed. 
            </p>
            <p>
                If you register for an account, you will be able to access your conversion history at any time.
            </p>
            <p>
                <button class="btn btn-success" id="cancel" type="button" data-dismiss="modal">Cancel</button>
                <a id="continue" href="#"><button class="btn btn-warning" type="button">Close Anyway</button></a>
            </p>
        </div>
    </div>
</div>
