<h1>Change Password</h1>
<div id="changePassword">
    <form action="#" method="post" class="form-horizontal">
        <p>Change Password for Member: <%= changePassword.get("username") %></p>
        <p>Please enter and confirm your new Password.</p>
        <input type="hidden" name="token" value="<%= changePassword.get("token") %>" id="token">
        <input type="hidden" name="username" value="<%= changePassword.get("username") %>" id="username">
        <span id="emailError" class="help-block text-danger"></span>
        <div class="form-group" id="passwordGroup">
            <label for="password" class="col-sm-3 control-label">Password* <span class="sr-only">Required</span></label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" name="password">
              <span class="help-block hidden"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password* <span class="sr-only">Required</span></label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
              <span class="help-block hidden"></span>
            </div>
          </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"><input type="submit" value="Change Password" id="changePassword" class="btn btn-primary"></div>
        </div>
    </form>
</div>