<h1>Forgot Password</h1>
<div id="forgotPassword">
    <p>Provide your email address and you will be sent instructions on how to set a new password.</p>
    <form action="#" method="post" class="form-inline">
        <span id="emailError" class="help-block"></span>
        <div class="form-group" id="usernameGroup">
            <label for="username" class="control-label">Email* <span class="sr-only">Required</span></label>
            <input type="email" name="username" id="username" placeholder="Email Address" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Reset Password" id="resetPassword" class="btn btn-primary">
        </div>
    </form>
</div>