
<%
  var organizationTypes = ["K-12 Education", "Post-Secondary Education", "Learning Management System", 
        "Academic Administration", "Original Content Author", "Publisher / Product Owner", 
        "Service Provider", "Classroom Instructor", "Other"];
%>
<form class="form-horizontal" action="/user/create" method="post" id="signUp">
  <div class="form-group">
    <label for="firstName" class="col-sm-3 control-label">First Name* <span class="sr-only">Required</span></label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="col-sm-3 control-label">Last Name* <span class="sr-only">Required</span></label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Email* <span class="sr-only">Required</span></label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="username" name="username" placeholder="Email">
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmEmail" class="col-sm-3 control-label">Confirm Email* <span class="sr-only">Required</span></label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="Confirm Email">
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Password* <span class="sr-only">Required</span></label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password" name="password">
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password* <span class="sr-only">Required</span></label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="organization" class="col-sm-3 control-label">Organization Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="organization" name="organization" placeholder="Organization">
    </div>
  </div>
  <div class="form-group">
    <fieldset>
    <legend class="col-sm-12">Organization Affiliation &amp; End-User Focus (check all that apply)</legend>
    <div class="col-sm-12">
      <% _.each(organizationTypes, function(orgType, index, list) { %>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox<%= index %>" value="<%= orgType %>" name="organizationTypes"><%= orgType %>
        </label>
      <% }); %>
    </div>
    </fieldset>
  </div>
  <div class="form-group">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <label class="checkbox-inline">
      <input type="checkbox" name="termsOfService" id="termsOfService" value="true">I agree to the terms of service
      </label>
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      <p class="text-danger errorMessage"></p>
    </div>
  </div>
</form>